<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Details | <%= artist[0].ArtistName %></title>
</head>
<body>
    <h1>(<%= artist[0].ArtistId %>) <%= artist[0].ArtistName %></h1>
    <p><%= artist[0].recordLabelName %></p>
    <h3>Genres:</h3>
    <ul>
        <% artist.forEach(a => { %>
         <li><%= a.genreDescription %></li>
        <% }) %>
    </ul>
</body>
</html>